//--------- fonts 

$font-primary: 'Open Sans', sans-serif;

/*--------BREAKPOINTS--------*/
$breakpoints: (
  'xs': 320px,
  // Móvil pequeño
  'sm': 481px,
  // Móvil estándar
  'md': 990px,
  // Tableta
  'lg': 1025px,
  // Laptop pequeña
  'xl': 1200px,
  // Escritorio estándar
  'xxl': 1400px // Pantallas grandes
);

// Colors primarys marca
$primary-color: #003A5D;
$secondary-color: #00737a;
$tertiary-color: #002037;
$quaternary-color: #81ffbd;
$quinary-color: #00bbce;

// Colors bottom
$bottom-top-color: #eee;

// Colors hover
$hover-header-color: #5d8084;
$hover-primary-color: #275280;

//------ Text colors
$color-text: #fff; // Color del texto
$color-apagado: #68849b;

//------ Background colors
$bg-primary: #ffffff;
$bg-secondary: #eee;

//------ Border radius

$radio-borde: 10px;
$radio-redondo: 50px; // Radio de los bordes

//------ Boxshadow
$sombra-normal: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra normal
$sombra-hover: 0 6px 8px rgba(0, 0, 0, 0.2); // Sombra al hacer hover
$sombra-fuerte: 10px 10px 30px rgba(0, 0, 0, 0.3);

//------ Buttons BG color persinalizados
$main_button_strong: #587C6E;
$main_button: #789F90;

//other variables
