@import "../_01-settings/variables";
@import "../_02-tools/mixin";

/* Este es el contenedor que hará todo el trabajo */
.table-wrapper {
  max-height: 60vh;
  /* Define una altura máxima para el scroll vertical */
  overflow-y: auto;
  /* Activa el scroll VERTICAL cuando el contenido es muy alto */
  overflow-x: auto;
  /* Activa el scroll HORIZONTAL siempre (o cuando sea necesario) */
}

/* El encabezado se pega al borde superior DEL CONTENEDOR .table-wrapper */
.table-wrapper thead {
  position: sticky;
  top: 0;
  z-index: 1;
  /* Asegura que se vea por encima del cuerpo de la tabla */
}

.card-container {
  width: 100%;
  /* La altura se controla ahora en el wrapper de la tabla */
}

/* Forzar ancho de la tabla en pantallas chicas */
@media (max-width: 750px) {
  .table-wrapper>.table {
    min-width: 900px;
  }
}