@import "../_01-settings/variables";

@mixin btn-style($background-color, $color, $border-color) {
    background-color: $background-color;
    color: $color;
    border: 2px solid $border-color;
    border-radius: $radio-borde;
    @include button-common;
    &:hover {
      background-color: $color-text;
      border-color: $color-apagado;
      box-shadow: $sombra-hover;
    }
  }

  // Mixin para aplicar media queries fácilmente
  @mixin media($size) {
    @if map-has-key($breakpoints, $size) {
      @media (max-width: map-get($breakpoints, $size)) {
        @content;
      }
    } @else {
      @warn "⚠️ El breakpoint `#{$size}` no está definido en el mapa de breakpoints.";
    }
  }
  
  // Mixin para orientación horizontal (landscape)
  @mixin media-landscape {
    @media (orientation: landscape) {
        @content;
    }
  }